.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* universal */
/* *{
    margin: 0;
    padding: 0;
} */
/* share style */
.align-center{
    text-align: center;
}
.body-heading-h3 {
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.body-heading-h4 {
    color: #181818;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.txt-primary-color {
    color: #FD6E0A;
}

.dark-color-1 {
    color: #181818
}

.dark-color-2 {
    color: #474747
}

.dark-color-3 {
    color: #757575;
}

.secondary-bg {
    background-color: #FFF8F3;
    ;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-L30 {
    margin-left: 30px;
}

.margin-lr-115 {
    margin: 115px;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

.btn-secondary {
    border: 1px solid #FD6E0A;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
    color: 181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-top: 30px;
}

.white-bg {
    background-color: #ffffff;
}

.txt-center {
    text-align: center;
}

/* header style */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    background-color: #FFF8F3;
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 50px;

}

.banner-content {
    max-width: 585px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    line-height: 0;
    margin: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-profile-image {
    width: 584px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about me style */
.about {
    border-radius: 10px;
    padding: 131px 157px;
    text-align: center;
    margin-top: 130px;

}


.about-items {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}

.item-title {
    font-size: 20;
    margin: 0;
}

.item-description {
    color: #474747;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}

.skills {}

/* icon box container style */
.icon-box-container {
    display: flex;
    gap: 24px;
}

.icon-box {
    text-align: left;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 33px;
}

.icon-box h4 {
    font-size: 20;
    font-weight: bold;
}

.icon-box p {
    font-size: 16px;
    line-height: 28px;
}

/* resume styles */
.resume {
    margin-top: 130px;
    /* background-color: cornsilk; */
}

.resume-container {
    display: flex;
    margin-top: 113px                  ;

}

.education {
    width: 50%;
    margin-right: 35px;
}

.experience {
    width: 50%;
    margin-left: 35px;
    color: #474747;
}

.edu-exp-heading {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin: 0;
}

.edu-exp-subheading {
    font-size: 2opx;
    font-weight: 600;
    color: #757575;
    margin-top: 10px;

}

.edu-exp-description {
    font-size: 16px;
    font-weight: 400;
    color: #757575;

}
